
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ol>
            @foreach (var item in ViewBag.url)
            {
                <li>@item</li>
            }
        </ol>
    </div>
</body>
</html>
